@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');

/*--------------Estilos generales-----------------*/

h1{
  margin-top: 2rem;
  font-size: 4rem;
}

h3{
  margin-top: 2rem;
  font-size: 2rem;
   margin-bottom: 2rem;
}

hr{
  width: 100%;
}


#root{
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/*--------------------Full page styles-------------------------------*/
.content{
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 20px;
}

.lastKey, .capsLockVerified{
  display:flex;
  position: relative;
  justify-content: space-around;
  width: 27%;
  background-image: radial-gradient(circle at 50% -3.03%, #d0ffff 0, #c6ffff 16.67%, #bcfffc 33.33%, #b4f7ef 50%, #ade4e1 66.67%, #a7d3d3 83.33%, #a2c5c7 100%);
  padding: 5px;
  box-shadow: 0px 0px 5px 1px rgba(206, 166, 166, 0.753);
  border: 1px solid black;
  border-radius: 5px;
  
}

.lastKey{
  animation: move-right 3s ease-in-out;
}

.capsLockVerified{
  animation: move-left 2s ease-in-out;
}

@keyframes move-right {
  0% {
    left: 20%;
  }
  50% {
    left: 0;
  }
}

@keyframes move-left {
  0% {
    right: 20%;
  }
  50% {
    right: 0;
  }
}

.lastKey span, .capsLockVerified span{
  font-size: 2rem;
  font-weight: bold;
}

.lastKey span:nth-child(2){
  display: inline-flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding: 0 10px; 
  border-radius: 5px;
  background-color: black;
  border: 0.5px solid white;
  color: white;
  font-size: 2.2rem;
  font-weight: bold;
}

/*--------------body-keyboard-----------------*/
.body-keyboard{
  position: relative;
  border-radius: 0.5rem;
  background-image: radial-gradient(circle at 50% -3.03%, #d0ffff 0, #c6ffff 16.67%, #bcfffc 33.33%, #b4f7ef 50%, #ade4e1 66.67%, #a7d3d3 83.33%, #a2c5c7 100%);
  box-shadow: 0px 0px 15px 5px black;
  padding: 2rem;
  display: grid;
  justify-content: center;
  grid-template-columns: 721px 159px 200px;
  gap: 1.5rem;
  animation: move-up 4s ease-in-out;
}

@keyframes move-up {
  0% {
    top: 50%;
  }
  50% {
    top: 0;
  }
}


/*--------------container-big-section--------------*/
.container-big-section{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.functions{
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 0.4rem;
  margin-bottom: 1rem;
}


#big-section{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.line-one, 
.line-two, 
.line-three, 
.line-four, 
.line-five{
  display:grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 0.4rem;
}

/*--------------center-section-----------------*/

#center-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.center-up{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.4rem;

}

.center-down{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.4rem;
}


/*-------------------number-section-----------------*/
#number-pad{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.4rem;
}

/*----------------Footer-------------------*/

footer{
  margin-top: auto;
  border-top: 2px double red;
  border-bottom: 2px double red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  background-color: black;
  color: white;
  height: 15vh;
  width: 100%;
  padding: 20px;
  
}

footer .logo{
  display: flex;
  font-family: 'Roboto Slab', serif;
}

footer .logo span{
  display: block;
  font-size: 85px;
  font-weight: bolder;
}

footer .logo h3 {
  display: block;
  flex-basis: 40px;
  margin-left: 10px;
  font-weight: 300;
}

footer .react {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10%; 
  font-size: 15px;
  font-weight: 300;
}

footer .react span:nth-child(1) {
  font-size: 40px;
}

footer .linkedin{
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  text-decoration: none;
  font-size: 30px;
  color: white;
}

